:root {
  --dark: #0d0a0b;
  --gray: #454955;
  --light: #f3eff5;
  --lightGreen: #72b01d;
  --darkGreen: #3f7d20;
}
body {
  background-color: var(--dark);
  color: var(--light);
}

button {
  min-width: 150px;
  min-height: 25px;
  background-color: var(--gray);
  border-radius: 8px;
  border: 2px solid var(--lightGreen);
  box-shadow: 0.5px 0.5px 5px 0.5px var(--lightGreen);

  margin: 1%;
  color: var(--light);
}

li {
  display: inline;
}

.main {
  margin: auto;
  width: 50%;
}

#timer {
  float: right;
  margin-right: 20px;
}

#choice-a,
#choice-b,
#choice-c,
#choice-d {
  display: block;
  margin: 10px 50px;
}

#quiz-question {
  font-family: Fira Code;
}
